*{
	margin: 0;
	padding: 0;
	
}
@font-face {
 font-family: 'Baumans';
 src: url('Baumans-Regular.woff') format("woff"),
      url("Baumans-Regular.woff2") format("woff2");
}

body{
	/*	define a CSS variable */
	font-family: Baumans;
 	color: #053921;
 	--accent-color: #053921;
	font-size: 50px;
	background: lightyellow;
} 
.background {
  background-image: url(img_9608_720.png);
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: -1;
  transition: all 1500ms ease;
}
audio {
    top: 160px;
    right: 680px;
    position: absolute;
}

body:before {
    content: 'Xinyi';
    position: fixed;
    top: 436px;
    left: 300px;
    transform: translate(-50%,-50%);
    font-size: 5em;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px #365949;
    font-family: 'Baumans';
    line-height: 175px;
    word-break: break-all;
    width: 417px;
    transition: all 1500ms ease;
    opacity: 0.6;
    filter: drop-shadow(7px 2px 4px rgba(255, 255, 255, 0.3)) drop-shadow(16px 13px 9px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}
body:after {
    content: 'Chen';
    position: fixed;
    top: 399px;
    left: 1530px;
    transform: translate(-50%,-50%);
    font-size: 5em;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px #365949;
    font-family: 'Baumans';
    width: 309px;
    line-height: 195px;
    word-break: break-all;
    opacity: 0.6;
    filter: drop-shadow(7px 2px 4px rgba(255, 255, 255, 0.3)) drop-shadow(16px 13px 9px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}
.container{
 	width: 550px;
	margin: auto;
	
}

.item{
	border-top: 4px solid var(--accent-color);
	padding: 2rem 0;
}

h1{
	text-align: center;
	margin: 1rem auto;
	background: lightyellow;
}

h3{
	margin: .5rem 0 .5rem 30px;
	background: lightyellow;
}

a{
	color: blue;
}
a:hover{
	color: red;
}
p {
	margin-left: 10px;
	background: lightyellow;
}
.item { 
	cursor: pointer;
}

.heading h2::before{
	content: '+';
	display: inline-block;
	width: 30px;
}
#pig0{
	height: 500px;
}
.location{
	/*position: absolute;
  	top: 230px;
    right: 570px;*/
    margin-left: 20px;
  	background: transparent;
  	filter: drop-shadow(-3px -3px 2px #FFA800)
	        drop-shadow(5px 5px 5px #FFA800)
	        drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}


li a {
	color: darkgreen;
	text-decoration: none;
	font-size: 35px;
	font-weight: bolder;
}

ul {
	border-size: 24px;
}
li {
	list-style-type: disc;
	list-style-position: inside;
}

#pig1{
	height: 1000px;
}
.location1{
	/*position: absolute;
  	top: 250px;
    right: 370px;*/
  	background: transparent;
  	margin-left: -250px;
  	filter: drop-shadow(-1px 0px 6px red)
	        drop-shadow(9px 2px 11px red)
	        drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
} 
#pig2{
	height: 1500px;
}  
.location2{
/*
  position: absolute;
  top: 450px;
  right: 100px;
*/
  background: transparent;
  filter: drop-shadow(-1px 0px 6px red)
       drop-shadow(9px 2px 11px red)
       drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
  margin-left: -510px;
} 
.details{
	line-height: 1.3;
	color: var(--accent-color);
	display: none;
	position: relative;
/*	height: 0;
	overflow: hidden;
	transition: height 400ms ease-in-out;*/
}

.active .heading h2::before{
	content: '-';
}
.active .details{
	display: block;
/*	height: 300px;*/
}



button{
	font-size: 3rem;
	font-weight: bold;
	border: 4px transparent;
	background: transparent;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 5px;
}

button:hover{
	background: rgb(200 200 200);
	cursor: pointer;
}


/*	DARK MODE STYLES GO HERE */
body.darkmode h1{
	text-align: center;
	margin: 1rem auto;
	background: lightyellow;
	color: #ffc107;
}
body.darkmode {
	background: darkred;
	color: #ffc107;

	/*	redefine a CSS variable */
	--accent-color: #ffc107;
}

body.darkmode button{
	color: #ffc107;
	background: transparent;
	border: 2px solid transparent;
}

body.darkmode li a{
	color: #ffc107;

	/*	redefine a CSS variable */
	--accent-color: #ffc107;
}
body:before.darkmode{
    content: 'Xinyi';
    position: fixed;
    top: 436px;
    left: 300px;
    transform: translate(-50%,-50%);
    font-size: 5em;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px #feffe0;
    font-family: 'Baumans';
    line-height: 175px;
    word-break: break-all;
    width: 417px;
    transition: all 1500ms ease;
    opacity: 0.6;
    filter: drop-shadow(7px 2px 4px rgba(255, 255, 255, 0.3)) drop-shadow(16px 13px 9px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}
body:after.darkmode {
    content: 'Chen';
    position: fixed;
    top: 399px;
    left: 1530px;
    transform: translate(-50%,-50%);
    font-size: 5em;
    font-weight: 700;
    color: #feffe0;
    -webkit-text-stroke: 2px #feffe0;
    font-family: 'Baumans';
    width: 309px;
    line-height: 195px;
    word-break: break-all;
    opacity: 0.6;
    filter: drop-shadow(7px 2px 4px rgba(255, 255, 255, 0.3)) drop-shadow(16px 13px 9px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}
@media screen and (min-width: 20px) and (max-width: 1000px) {
  body {
  	background: blue;
  	color: blue;
  	--accent-color: lightyellow;
  	font-size: 25px;
     }
  li a {
  	font-size: 20px;
  	color: #BDFF00;
  }
  button{
	color: #BDFF00;
	background: transparent;
	border: 4px transparent;
}
  body:before{
    content: ' ';
   }
  h1{
    background: none;
    color: lightyellow;
  }
 h3{
    background: none;
    color: lightyellow;
  }
 p{
    background: none;
    color: lightyellow;
  }
}
