@font-face {
 font-family: 'Baumans';
 src: url('Baumans-Regular.woff') format("woff"),
      url("Baumans-Regular.woff2") format("woff2");
}

body {
	font-family: Baumans;
 	background: #ffc107; 
 	color: #bb0e01;
 	font-size: 40px;
}
ul {
	border-size: 24px;
}
li {
	list-style-type: lower-alpha;
	list-style-position: inside;
}

p {
	background: lightyellow;
}