*{
	margin: 0;
	padding: 0;
}


@font-face {
	font-family: 'Syne Mono';
  	src: url('SyneMono-Regular.ttf') format('truetype');
  	font-style: normal;
    font-display: swap;
}





#grid {
	width: 100%;
	height: 100vh;
	border: 0px solid #ffdfdf;
    display: grid;
	grid-template-columns: 0fr 0fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: max-content;
	grid-gap: 10px;
	
}

.background {
  background-image: url(Sumerian1.png);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: all 1500ms ease;
}

section{
	width: 100%;
	height: 100%;
	background: #ccffde59;
}

section img {
	opacity: 0.7;
	pointer-events: none;
	filter: blur(4px);
}



section h3:hover {
	filter: blur(10px);
	transform: scale(1.2);
	transition: all 1000ms ease;

}



section h3 {
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 6;
	grid-column-end: 12;
	text-transform: uppercase;
	z-index: 2;
	transition: 3s;
	margin: 59px;
	cursor: pointer;
	filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3))
	        drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2))
	        drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));*/

}

section h3{
	font-size: 9em;
	font-family: Syne Mono;
	word-spacing: 1px;
}


li{
	list-style: none;
}

li a {
	color: #323F39;
	text-decoration: none;
}
