body{

}

.bounding-box{
    position: relative;
    width: 400px;
    height: 600px;
    background: lightgrey;
    top: 30px;
    left: 0px;
}


.pointer {
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 40% 40% 40% 40% / 50% 50% 50% 50%;
    z-index: 1;
    background-color:rgb(0,152,50);
    opacity:0.7;
    filter:alpha(opacity=70);
    box-shadow: 1px 2px 3px 4px #333
}
* {
 transition: all 1500ms ease;
}

/* {
 transition: all 1500ms ease;
 filter: drop-shadow(16px 16px 20px blue) invert(100%);
 box-shadow: 1px 2px 3px 4px #333
}/
 
/*.no1:hover {
    background: black; 
    filter: blur(50px);
}*/

.no1 {
    transform: rotate(90deg);
    top: 50px;
    left: 0px;
}
.no2 {
    transform: rotate(90deg);
    top: 100px;
    left: 0px;
}
.no3 {
    transform: rotate(90deg);
    top: 170px;
    left: 0px;
}
.no4 {
    transform: rotate(90deg);
    top: 240px;
    left: 0px;
}
.no5 {
    transform: rotate(90deg);
    top: 310px;
    left: 0px;
}
.no6 {
    transform: rotate(90deg);
    top: 380px;
    left: 0px;
}
.no7 {
    transform: rotate(90deg);
    top: 425px;
    left: 0px;
}
.no8 {
    transform: rotate(360deg);
    top: 10px;
    left: 40px;
}
.no9 {
    transform: rotate(360deg);
    top: 10px;
    left: 110px;
}
.no10 {
    transform: rotate(22deg);
    top: 20px;
    left: 180px;
}
.no11 {
    transform: rotate(77deg);
    top: 60px;
    left: 215px;
}
.no12 {
    transform: rotate(97deg);
    top: 120px;
    left: 220px;
}
.no13 {
    transform: rotate(138deg);
    top: 170px;
    left: 193px;
}
.no14 {
    transform: rotate(165deg);
    top: 200px;
    left: 130px;
}
.no15 {
    transform: rotate(175deg);
    top: 210px;
    left: 55px;
}
.no16 {
    transform: rotate(22deg);
    top: 240px;
    left: 160px;
}
.no17 {
    transform: rotate(46deg);
    top: 280px;
    left: 220px;
}
.no18 {
    transform: rotate(92deg);
    top: 340px;
    left: 240px;
}
.no19 {
    transform: rotate(113deg);
    top: 410px;
    left: 220px;
}

.no20 {
    transform: rotate(166deg);
    top: 446px;
    left: 180px;
}

.no21 {
    transform: rotate(171deg);
    top: 456px;
    left: 110px;
}
.no22 {
    transform: rotate(180deg);
    top: 460px;
    left: 48px;
}
