* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #00feff;
}

/* navigation */

nav {
	padding: 30px;
}

/* stage */

#showcase {
	width: 1200px;
	height: 800px;
	margin: auto;
	overflow: visible;
	position: relative;
	top: calc(50vh - 400px);
}

/*img{
	display: block;
}*/

/* images */

svg:hover path{
	fill: red;
}

*{
 transition: all 500ms ease;
 filter: drop-shadow(16px 16px 20px blue) invert(100%);
}