
body{
    background-color: darkslategrey;
}

.link{
    font-family: sans-serif;
    font-size: 14pt;
    color: lavender;
}

h1{
    font-family: sans-serif;
    font-size: 18pt;
    color: honeydew;
    margin-top: 75px;
}

.wrapper{
    width: 300px;
    height: 300px;
}

/*.wrapper div{
    transition: all 200ms ease 0s;
}*/


.wrapper:hover div {
    background: transparent;
    box-shadow: 15px 15px 0 0 transparent;
    border-bottom: 60px solid transparent;
}

.wrapper-top{
    width: 150px;
    height: 170px;
    border-radius: 170px / 200px;
    background: thistle;
    position: absolute;
    top: 200px;
    left: 200px;

}

.wrapper-bottom{
    border-bottom: 30px solid thistle;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 50px;
    position: absolute;
    top: 355px;
    left: 231px;
}

.wrapper-shadow{
    width: 50px;
    height: 80px;
    border-radius: 46%;
    box-shadow: 9px 6px 0 0 grey;
    background: transparent;
    position: absolute;
    top:253px;
    left: 274px;
    transform:rotate(15deg);
}

.candy{
    width: 120px;
    height: 120px;
    background: #80007575;
    border-radius: 50%;
    position: fixed;
    top: 252px;
    left: 216px;
}

.candy-stripe{
    width: 130px;
    height: 25px;
    background: #80007575;
    position: fixed;
    top: 300px;
    left: 211px;
}

.chocolate{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #6c4131;
    position: fixed;
    top: 283px;
    left: 236px;
}

.chunk-one{
    width: 40px;
    height: 45px;
    border-radius: 50%;
    background: ##2f4f4f01;
    position: fixed;
    top: 247px;
    left: 246px;
    transform: rotate(47deg);
}

.chunk-two{
    width: 40px;
    height: 45px;
    border-radius: 50%;
    background: #2f4f4f01;
    position: fixed;
    top: 257px;
    left: 216px;
    transform: rotate(18deg);
}

.lollipop-unwrapped:hover .go-away{
    background: darkslategray;
}


.lollipop-unwrapped{
    width: 300px;
    height: 600px;
}

.stick{
    position: fixed;
    width: 10px;
    height:190px;
    top: 340px;
    left:272px;
    background: ivory;
}

.owl{
    height: 120px;
    width: 72px;
    border-radius: 20%;
    background: ivory;
    position: fixed;
    bottom: 50px;
    right:49px
}

.owl pre{
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.owl a{
    position: fixed;
    bottom: 50px;
    right: 75px;
}
/*
.lollipop{
    transition: all 200ms ease 0s;
}

.lollipop:hover{
    background-color: black;
}*/

/*.circle{
    position: fixed;
    top: 200px;
    left: 300px;
    width: 150px;
    height: 170px;
    background: thistle;
    border-radius: 170px / 200px;
}

.circle:hover{
    background: magenta;
}

.wrapper-bottom {
    border-bottom: 60px solid thistle;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    width: 41px;
    position: fixed;
    top:344px;
    left:339px;
}

.wrapper{
    background: thistle;
}

.wrapper:hover{
    background: magenta;
}

.stick{
    position: fixed;
    width: 10px;
    height:150px;
    top: 404px;
    left:368px;
    background: ivory;
}


.shadow{
    position: fixed;
    width: 83px;
    height: 114px;
    background: grey;
    border-radius: 50%;
    top: 234px;
    left: 359px;
}

.block-shadow-one{
    position: fixed;
/*    background: thistle;
    width: 85px;
    height: 20px;
    top: 246px;
    left: 357px;
}

.block-shadow-two{
    position: fixed;
/*    background: thistle;
*//*    width: 72px;
    height: 117px;
    border-radius: 50%;
    top: 232px;
    left: 357px;
}

.link{
    font-family: sans-serif;
    font-size: 14pt;
    color: lavender;
}

h1{
    font-family: sans-serif;
    font-size: 18pt;
    color: honeydew;
    margin-top: 75px;
}
*//*/